div {
  
  color: rgb(50, 50, 58);
  margin: 40px;

  table {

    thead {

      tr {

        td {
            
          padding: 20px;
        
        }

      }

    }

    tfoot {

        nav {
            
          padding: 20px 0;
        
        }

    }

  }

}
